.article {
    margin: 0 auto;
    text-align: center;

    &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

}