.header {
    padding: 45px 150px 0 190px;
    position: relative;
    color: white;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .logo {
        display: inline-block;
        position: absolute;
        top: 30px;
        left: 150px;
    }

    &__link {
        color: rgb(255, 255, 255);
        text-decoration: none;
        margin-right: 40px;
        &_active {
            text-decoration: underline;
            font-weight: bold;
            font-size: large;
        }
    }

    .title {
        text-align: center;
        font-family: 'Merienda';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        margin-top: 70px;
    }

}

